:root {
  --currentColour: #000000;
}
html, body {
  margin: 0;
  overflow: hidden;
}
#menu {
  background-color: rgba(0,0,255,.4);
  width: 50px;
  height: 50px;
  bottom: 1em;
  left: 0;
  right: 0;
  margin: 0 auto; 
}
#inner{
  border: white solid 2px; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  bottom: calc(0.25em - 2px);
  left: 0;
  right: 0;
  margin: 0 auto; 
}
.circle {
  border-radius: 50%;
  position: absolute;
}
.open {
  visibility: visible !important;
  opacity: 1 !important;
}
.option {
  background-color: rgba(0,0,255,.4);
  width: 50px;
  height: 50px;
  left: 0;
  right: 0;
  margin: 0 auto; 
  transition: visibility 0.3s, opacity 0.3s;
  visibility: hidden;
  opacity: 0;
}
.option svg {
  color: white;
  fill: white;
}
[data-key='1'] {
  bottom: 1em;
  right: 3.6em;
  right: -webkit-calc(4em + 40px);
  right: -moz-calc(4em + 40px);
  right: calc(4em + 40px);
}
[data-key='2'] {
  bottom: -webkit-calc(2em + 40px);
  bottom: -moz-calc(2em + 40px);
  bottom: calc(2em + 40px);
}
[data-key='3'] {
  bottom: 1em;
  left: 3.6em;
  left: -webkit-calc(4em + 40px);
  left: -moz-calc(4em + 40px);
  left: calc(4em + 40px);
}

.pulse {
box-shadow: 0 0 0 var(--currentColour);
animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
0% {
-webkit-box-shadow: 0 0 0 0 var(--currentColour);
}
70% {
-webkit-box-shadow: 0 0 0 5px var(--currentColour);
}
100% {
-webkit-box-shadow: 0 0 0 0 var(--currentColour);
}
}
@keyframes pulse {
0% {
-moz-box-shadow: 0 0 0 0 var(--currentColour);
box-shadow: 0 0 0 0 var(--currentColour);
}
70% {
-moz-box-shadow: 0 0 0 10px var(--currentColour);
box-shadow: 0 0 0 5px var(--currentColour);
}
100% {
-moz-box-shadow: 0 0 0 0 var(--currentColour);
box-shadow: 0 0 0 0 var(--currentColour);
}
}